# Secrets
.streamlit/secrets.toml

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data (likely large)
dataset/
*.csv
*.npy

# OS
.DS_Store
Thumbs.db